{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Bright Skills Admin Panel</a></h1>
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}">{% endblock %}

{% block userlinks %}
    <a href="{% url 'custom_admin:confirm_admission_list' %}" style="color: #28a745; font-weight: bold;">Confirm Admissions</a>
    &nbsp;|&nbsp;
    <a href="{% url 'custom_admin:payments_list' %}" style="color: #ffc107; font-weight: bold;">Approve Payments</a>
    &nbsp;|&nbsp;
    {{ block.super }}
{% endblock %}

{% block footer %}
{{ block.super }}
{% endblock %}