{% extends "applications/base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    <h2>Log In</h2>

    {% if form.errors %}
        <div class="alert alert-danger">
            <p>Your username and password didn't match. Please try again.</p>
        </div>
    {% endif %}

    <div class="address-col">
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
    </div>

    <div class="address-col">
        <label for="{{ form.password.id_for_label }}">Password</label>
        <div class="password-wrapper">
            {{ form.password }}
            <i class="bi bi-eye-fill password-toggle-icon"></i>
        </div>
    </div>

    <button type="submit" class="btn">Log In</button>
    <p class="text-center mt-3">Don't have an account? <a href="{% url 'users:signup' %}">Sign Up</a></p>
</form>
{% endblock %}