/* Custom styles for Dashboard Charts & Maps */
.chart-wrapper {
    position: relative;
    width: 100%;
    min-height: 300px;
}

/* Map Specific */
#tanzania-map {
    height: 100%;
    min-height: 350px;
    width: 100%;
    border-radius: 8px;
    z-index: 1;
}