{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BRIGHT SKILLS DEVELOPMENT CENTER</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
  <canvas id="starfield"></canvas>
  <header>
    <h1 class="site-title">BRIGHT SKILLS DEVELOPMENT</h1>
    <div class="theme-toggler" id="theme-toggler" title="Toggle light/dark theme">
      <i class="bi bi-moon-stars-fill icon moon"></i>
      <i class="bi bi-sun-fill icon sun"></i>
    </div>
  </header>
  <nav class="nav-bar">
    <ul class="nav-links">
      <li><a href="{% url 'apply:home' %}">Home</a></li>
      <li><a href="{% url 'apply:course_list' %}">Courses</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'apply:application_start' %}">Apply</a></li>
        {% if user.is_staff %}
          <li><a href="{% url 'custom_admin:payments_list' %}" class="btn-admin">Payments</a></li>
        {% endif %}
        <li><a href="#contact">Contact</a></li>
        <li>
          <form id="logout-form" action="{% url 'users:logout' %}" method="post" style="display: none;">
              {% csrf_token %}
          </form>
          <a href="#" onclick="confirmLogout(event)" class="btn-logout">Logout</a>
        </li>
      {% else %}
        <li><a href="{% url 'users:signup' %}">Signup</a></li>
        <li><a href="{% url 'users:login' %}" class="btn-login">Login</a></li>
      {% endif %}
    </ul>
  </nav>

  
  <div class="toast-wrap" id="toast-wrap" aria-live="polite" aria-atomic="true"></div>


  {% block content %}{% endblock content %}

  <footer>
        <section id="contact" class="contact" >
          <h2>Contact</h2>
          <p>
            <i class="bi bi-geo-alt"></i> MChina mwanzo , unguja , Zanzibar
          </p>
          <p><i class="bi bi-telephone-fill"></i> 
              <a href="tel:+255620629107">
                +255-620-629-107
              </a>
          </p>
          <p>
            <i class="bi bi-envelope-open-fill"></i> 
            <a href="mailto:brightskillsdevelopment@gmail.com">
              brightskillsdevelopment@gmail.com
            </a>
          </p>
          <p class="social">
            <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="https://wa.me/255775595959">
                 <i class="bi bi-whatsapp"></i>
            </a>
            <a href="#"><i class="bi bi-youtube"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
            <a href="#"><i class="bi bi-twitter-x"></i></a>
          </p>
        </section>

        <hr>
        <p>&copy; 2025 BRIGHT SKILLS DEVELOPMENT CENTER. All rights reserved.</p>
      </div>
    </footer>

    <i class="bi bi-arrow-up-circle-fill back-to-top" id="back-to-top"title="Go to top" ></i></i>

   <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
      crossorigin="anonymous">
    </script>

    <script 
      src="https://code.jquery.com/jquery-3.6.0.min.js" 
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
      crossorigin="anonymous">
    </script>

    <script 
      src="https://code.jquery.com/jquery-3.6.0.min.js" 
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
      crossorigin="anonymous">
    </script>

    <script 
      src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js">
    </script>

    {% block extra_js %}{% endblock extra_js %}

    <script src="{% static 'js/animations.js' %}"></script>
    <script src="{% static 'js/background-animation.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>