{% extends "applications/base.html" %}

{% block  %}
  Enroll Student
{% endblock  %}

{% block content %}
  <h2>Enroll {{ student.first_name }} {{ student.last_name }} in a Course</h2>
  <form method="post">
    {% csrf_token %}
    <label for="course">Select Course:</label>
    <select name="course" id="course">
      {% for course in courses %}
        <option value="{{ course.id }}">{{ course.name }}</option>
      {% endfor %}
    </select>
    <button type="submit">Enroll</button>
  </form>
{% endblock content %}